<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="simple.css">
    <title>Search results</title>


</head>
<body>
<h1>A simple task manager</h1>
{% if error.status %}
    <details>
        <summary>{{ error.message }}</summary>
        <p>{{ error.description }}</p>
    </details>
{% endif %}
<section>
    <h4>Enter search term</h4>
    {% if nameError.missing %}
        <p class="notice">Search value required.</p>
    {% endif %}

    <form method="post" action="/search">

        <label for="term">Term:</label>
        <input autofocus name="term" id="term" type="search" size="50">
        <button type="submit">Search</button>

    </form>
</section>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks.all %}

        <tr>
            <td><a href="/task/{{ task.id }}">{{ task.name }}</a></td>
            <td>{{ task.description }}</td>
            <td>{{ task.created }}</td>
            <td>
                <form action="/task/{{ task.id }}/delete" method="post">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
</body>
</html>